@import './variables';

@mixin flexCenter($direction, $background) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}

header {
  @include flexCenter(column, grey);
  height: 100vh;

  color: $textColour;
  button {
    background: $primaryBtn;
    &:hover {
      background-color: yellow;
    }
  }
}
