$primaryBtn: blue;
$textColour: green;

header {
  background: lightblue;
  display: flex;
  justify-content: center;
  color: $textColour;
  button {
    background: $primaryBtn;
  }
}

.contact button {
  background: $primaryBtn;
}
